@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #game-title {
    animation: scale 3s forwards;
  }

  #pseudo-label {
    animation: appear 2s 4.2s forwards;
  }

  #pseudo {
    animation: appear 2s 5.2s forwards;
  }

  #play-button {
    animation: appear 2s 6.2s forwards;
  }

  #play-button:active {
    transform: translateX(4px) translateY(2px);
  }

  #play-button:disabled {
    transform: inherit;
  }

  @keyframes scale {
    from {
      opacity: 0;
      transform: scale(0.2);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes appear {
    to {
      opacity: 1;
    }
  }

  .fade-out {
    animation: fadeOut 1s forwards;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1s ease;
  }

  .visible {
    opacity: 1;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  #home-page {
    background-image: url("./assets/images/backgrounds/image.png");
  }
}
