@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    cursor:
      url("./assets/images/cursors/cursor.cur") 16 16,
      auto;
  }

  a,
  button {
    cursor:
      url("./assets/images/cursors/pointer-cursor.png") 0 0,
      pointer;
  }

  #game-title {
    animation: scale 3s forwards;
  }

  #pseudo-label,
  #pseudo,
  #gender-icons-container {
    animation: appear 2s 5s forwards;
  }

  #play-button:active,
  #gender-icons-container img:active {
    transform: translateX(4px) translateY(2px);
  }

  #play-button:disabled {
    animation: appear-button 2s 6.2s forwards;
    transform: inherit;
  }

  @keyframes scale {
    from {
      opacity: 0;
      transform: scale(0.2);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes appear {
    to {
      opacity: 1;
    }
  }

  @keyframes appear-button {
    to {
      opacity: 0.5;
    }
  }

  .fade-out {
    animation: fadeOut 1s forwards;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1s ease;
  }

  .visible {
    opacity: 1;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  #home-page {
    background-image: url("./assets/images/backgrounds/image.png");
  }
}
